<div>
  <form class="content" (ngSubmit)= "saveCliente()">
 
     <div class="submit-form" >
  
       
  
      <div class="row">
  
       <div class="col-lg-12">
  
        <h6>Registro de Cliente</h6>
  
       </div>
  
      </div>
  
    
  
      <div class="row" style="margin-top: 3%">
  
       <div class="col-lg-6">
  
         <label for="nombre">Nombre</label>
  
         <input type="text" class="form-control" name="nombre" id="nombre"/>
  
       </div>

       <div class="row" style="margin-top: 3%">
  
        <div class="col-lg-6">
   
          <label for="nombre">Apellido</label>
   
          <input type="text" class="form-control" name="apellido" id="apellido" />
   
        </div>
  
     
  
       <div class="col-lg-6">
  
         <label for="dni">DNI</label>
  
         <input type="text" class="form-control" name="dni" id="dni" maxlength="8" />
  
          
  
       </div>
  
    
  
      </div>
  
  
       <div class="col-lg-6">
  
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
  
        <input type="date"  class="form-control" id="fechaNacimiento"  name="fechaNacimiento" />
  
       </div>
  
      </div>
      
      <div class="row" style="margin-top: 3%"> 
  
       <div class="col-lg-12">
  
         <button class="btn btn-success" >Enviar</button>
  
       </div>
  
      </div>
   
      </div>
  
     </form>
  
    </div>